<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= active == 'index' ? '#' : '/' %>">Kingsland Wallet</a>
		</div>
		<ul class="nav navbar-nav">


			<% if (typeof wallet !== 'object') { %>

				<li <%- active == 'create' ? 'class="active"' : '' %>>
					<a href="/create">Create</a>
				</li>

				<li <%- active == 'recover' ? 'class="active"' : '' %>>
					<a href="/recover">Recover</a>
				</li>

			<% } else { %>

				<li <%- active == 'balance' ? 'class="active"' : '' %>>
					<a href="/balance">Balance</a>
				</li>

				<li <%- active == 'send' ? 'class="active"' : '' %>>
					<a href="/send">Send</a>
				</li>

				<li <%- active == 'logout' ? 'class="active"' : '' %>>
					<a href="/logout">Logout</a>
				</li>

			<% } %>

		</ul>
	</div>
</nav>